li .badge {
    vertical-align: middle;
    margin-top: 0.1em;
}

.dropdown-menu {
    width: 220px;
}

.text-mono {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

div.slideWrap {
    overflow-x: scroll;
    white-space: nowrap;
}

span.scroller {
    font-size: 10pt;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
}

.btn-pad {
    margin: 0 0 20px 0;
}

.header {
    margin: 20px 0 0 0;
}

.version {
    padding: 15px;
}
