li .badge {
    vertical-align: middle;
    margin-top: 0.1em;
}

.dropdown-menu {
    width: 220px;
}

.text-mono {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.text-mono-thin {
    font-family: "Courier New", Courier, monospace;
}

div.slideWrap {
    overflow-x: scroll;
    white-space: nowrap;
}

span.scroller {
    font-size: 10pt;
    display: inline-block;
    width: 200px;
    white-space: nowrap;
}

.btn-pad {
    margin: 0 0 20px 0;
}

.btn-align {
    margin: 0 0 5px 0;
}

.header {
    margin: 20px 0 0 0;
}

.version {
    padding: 15px;
}

.faded {
    color: #999;
}

a.faded {
    color: #7d98bd;
}

.dna {
    font-weight: bold;
    letter-spacing: 4px;
}

.bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dropdown-wide {
    width: 250px;
}

.heading-button {
    margin-top: -7px;
}

.table-center th, .table-center td {
    text-align: center;
}
