<div style="padding: 1em 0">
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>{{ summationWarning ? 'Approx.' : '' }}
            Total Seqs.
            <a data-toggle="tooltip" ng-show="summationWarning" title="This is
            the sum of total sequences across the selected samples, and does not
            account for multiple occurences of the same sequence in different
            samples."><i class="fa fa-question-circle"></i></a>
          </th>
          <th>{{ summationWarning ? 'Approx.' : '' }}
            Unique Seqs.
            <a data-toggle="tooltip" ng-show="summationWarning" title="This is
            the sum of unique sequences across the selected samples, and does
            not account for multiple occurences of the same sequence in
            different samples."><i class="fa fa-question-circle"></i></a>
          </th>
          <th>ID</th>
          <th>Subject</th>
          <th>V Gene</th>
          <th>J Gene</th>
          <th>CDR3 Length</th>
          <th>CDR3 AA</th>
          <th>Samples Present</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="10" class="text-center" ng-show="!clones">Loading <i class="fa fa-spinner fa-spin"></i></td>
        </tr>
        <tbody ng-repeat="freq in clones">
          <tr>
            <td>{{ freq.total_sequences | number }}</td>
            <td>{{ freq.unique_sequences | number }}</td>
            <td>{{ freq.clone.id }}</td>
            <td>{{ freq.clone.subject.identifier}} ({{ freq.clone.subject.study.name}} Study)</td>
            <td>
              <span ng-show="!fullV">
                {{ freq.clone.v_gene | geneTies:'IGHV' }}
                <a ng-click="fullV=!fullV"><i class="fa fa-plus"></i></a>
              </span>
              <span ng-show="fullV">
                {{ freq.clone.v_gene }}
                <a ng-click="fullV=!fullV"><i class="fa fa-minus"></i></a>
              </span>
            </td>
            <td>
              <span ng-show="!full">
                {{ freq.clone.j_gene | geneTies:'IGHJ' }}
                <a ng-click="full=!full"><i class="fa fa-plus"></i></a>
              </span>
              <span ng-show="full">
                {{ freq.clone.j_gene }}
                <a ng-click="full=!full"><i class="fa fa-minus"></i></a>
              </span>
            </td>
            <td>{{ freq.clone.cdr3_num_nts | number }}</td>
            <td ng-bind-html="freq.clone.cdr3_aa | aminoAcid" class="text-mono"></td>
            <td>
              <a ng-click="showSamples=!showSamples">
                {{ freq.selected_samples.length }} {{ subject ? 'samples' :
                'selected' }}
              <span ng-show="freq.other_samples.length > 0">
                (plus {{ freq.other_samples.length }} others)
              </span> <i class="fa fa-angle-down fa-lg"></i></a>
            </td>
            <td>
              <a href="#/{{ apiPath }}/clone/{{ freq.clone.id }}"
              target="_blank">View <i class="fa fa-angle-right fa-lg"></i></a>
            </td>
          </tr>
          <tr ng-show="showSamples">
            <td colspan="10">
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Sample ID</th>
                  <th>Sample Name</th>
                  <th>Total Seqs.</th>
                  <th>Unique Seqs.</th>
                </tr>
                <tr class="active" ng-show="!subject">
                  <th colspan="4" class="text-center">Selected Samples</th>
                </tr>
                <tr ng-repeat="sample in freq.selected_samples">
                  <td>{{ sample.id }}</td>
                  <td>
                    <a href="#/{{ apiPath }}/samples/{{ sample.id }}" target="_new">
                      {{ sample.name }}
                    </a>
                  </td>
                  <td>{{ sample.total_sequences }}</td>
                  <td>{{ sample.unique_sequences }}</td>
                </tr>
                <tbody ng-show="freq.other_samples.length > 0">
                  <tr class="active">
                    <th colspan="4" class="text-center">Other Samples</th>
                  </tr>
                  <tr ng-repeat="sample in freq.other_samples">
                    <td>{{ sample.id }}</td>
                    <td>
                      <a href="#/{{ apiPath }}/samples/{{ sample.id }}" target="_new">
                        {{ sample.name }}
                      </a>
                    </td>
                    <td>{{ sample.total_sequences }}</td>
                    <td>{{ sample.unique_sequences }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tr>
          <td colspan="10">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
              <li class="pull-right">
                <a href="{{ apiUrl }}clone_overlap/{{ filter }}/{{ samples.join(',') }}?export=true" target="_new">Export All</a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
