<div style="padding: 1em 0">
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th></th>
          <th>Total Seqs.</th>
          <th>Unique Seqs.</th>
          <th>ID</th>
          <th>Subject</th>
          <th>V Gene</th>
          <th>J Gene</th>
          <th>CDR3 Length</th>
          <th>CDR3 AA</th>
          <th>Present in Sample #'s</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="10" class="text-center" ng-show="!clones">Loading...</td>
        </tr>
        <tr ng-repeat="freq in clones">
          <td><input type="checkbox" checklist-model="checked_clones" checklist-value="freq.compareStr"></input></td>
          <td>{{ freq.total_sequences | number }}</td>
          <td>{{ freq.unique_sequences | number }}</td>
          <td>{{ freq.clone.id }}</td>
          <td>{{ freq.clone.group.subject.identifier}} ({{ freq.clone.group.subject.study.name}} Study)</td>
          <td>{{ freq.clone.group.v_gene }}</td>
          <td>{{ freq.clone.group.j_gene }}</td>
          <td>{{ freq.clone.group.cdr3_num_nts | number }}</td>
          <td ng-bind-html="freq.clone.group.cdr3_aa | aminoAcid" class="text-mono"></td>
          <td width="20%">
            <span ng-repeat="sid in freq.samples | slice:0:5"
                  >
                  <a href="#/samples/{{ sid }}" target="_new" 
                    ng-class="samples.indexOf(sid) >= 0 ? '' : 'faded'">{{ sid }}</a><span ng-hide="$last">,</span>
            </span>
            <span ng-show="freq.samples.length > 5">
              <a ng-click="showMore=!showMore" ng-show="!showMore">({{ freq.samples.length - 5 }} more...)</a>
            </span>
            <span ng-repeat="sid in freq.samples | slice:5"
                  ng-show="showMore">
                  <a href="#/samples/{{ sid }}" target="_new"
                    ng-class="samples.indexOf(sid) >= 0 ? '' : 'faded'">{{ sid }}</a><span ng-hide="$last">,</span>
            </span>
            <span ng-show="showMore">
              <a ng-click="showMore=!showMore">(Hide)</a>
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <button ng-click="viewClones()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_clones.length == 0">Show Selected</button>
            <div style="float: right"><a href="{{ exportUrl }}" target="_blank" class="btn btn-info">Export All
            (csv)</a></div>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
