<div class="{{ tclass }}" id="{{ filter }}">
  <div ng-show="cnt > 0">
    <clone-pager ng-if="samples" filter="filter" samples="samples"
    api-path="apiPath"></clone-pager>

    <div id="{{ heatmap }}"></div>

    <div ng-repeat="config in charts" ng-controller="HighChartController">
      <highchart config="config" id="{{config.key }}_{{ filter }}"></highchart>
    </div>
  </div>
  <div class="alert alert-warning text-center" role="alert" ng-show="cnt == 0">No results for
  this filter/outliers/partial read combination.</div>
</div>
