.main {
  margin-top: 5em;
}

.faded {
  color: rgba(0, 0, 0, 0.6);
}

tr.info-row {
  background-color: #CCE2FF;
  color: rgba(0,0,0,.87);
}

.text-mono {
  font-family: "Courier New", Courier, monospace;
}

.sequence {
  font-weight: bold;
  letter-spacing: 2px;
}

div.slideWrap {
  overflow-x: scroll;
  white-space: nowrap;
}

span.scroller {
  font-size: 10pt;
  display: inline-block;
  width: 200px;
  white-space: nowrap;
}

.underlined {
  border-bottom: 1px dashed #2185D0;
}

tr.bold > td {
  font-weight: bold;
}

.delim {
  border-left: 1px solid rgba(34, 36, 38, 0.1);
}

iframe.hidden {
  width: 0;
  height: 0;
  border: none;
}

.hide {
  display: hidden;
}
