<div class="header">
  <ol class="breadcrumb">
    <li><a href="#/clones"><i class="fa fa-sitemap fa-fw"></i>Clones</a></li>
  </ol>
</div>
<div class="table-responsive">
  <button ng-click="viewSamples()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_samples.length == 0">Show Selected</button>
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Subject</th>
          <th>V Gene</th>
          <th>J Gene</th>
          <th>CDR3 Length</th>
          <th>CDR3 AA</th>
        </tr>
      </thead>
      <tbody>
        <tbody ng-repeat="clone in clones">
          <tr class="active">
            <td>{{ clone.id }}</td>
            <td>{{ clone.subject.identifier}} ({{ clone.subject.study.name}})</td>
            <td>{{ clone.v_gene }}</td>
            <td>{{ clone.j_gene }}</td>
            <td>{{ clone.cdr3_nt.length }}</td>
            <td ng-bind-html="clone.cdr3_aa | aminoAcid" class="text-mono"></td>
          </tr>
          <tr>
            <td colspan="6" style="float:none; margin: 0 auto;">
              <table class="table table-bordered">
                <thead>
                  <tr class="info">
                    <th></th>
                    <th>Sample #</th>
                    <th style="width: 50%">Sample Name</th>
                    <th>Unique Seqs.</th>
                    <th>Total Seqs.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="stat in clone.stats">
                    <td><input type="checkbox" checklist-model="checked_samples" checklist-value="clone.id + '_' + stat.sample.id"></input></td>
                    <td>{{ stat.sample.id }}</td>
                    <td><a href="#/samples/{{ stat.sample.id }}" target="_blank">{{ stat.sample.name }}</a></td>
                    <td>{{ stat.unique_sequences }}</td>
                    <td>{{ stat.total_sequences }}</td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
        <tr>
          <td colspan="6">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="viewSamples()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_samples.length == 0">Show Selected</button>
  </form>
</div>
