<script type="text/ng-template" id="mutationsModal.html">
  <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr class="active">
          <th>Count</th>
          <th>Position</th>
          <th>NT Mutation</th>
          <th>AA Mutation</th>
        </tr>
      </thead>
      <tbody ng-repeat="type in ['synonymous', 'conservative', 'nonconservative']" ng-show="data.mutations[type].length > 0">
        <tr class="info">
          <td colspan="4"><strong>{{ type | capitalize }}</strong></td>
        </tr>
        <tr ng-repeat="mut in data.mutations[type] | orderBy:'position'">
          <td>{{ mut.count }}</td>
          <td>{{ mut.position }}</td>
          <td><strong ng-bind-html="mut.from | dna"></strong> to <strong ng-bind-html="mut.to | dna"></strong></td>
          <td ng-if="mut.aa_from != mut.aa_to"><strong ng-bind-html="mut.aa_from | aminoAcid"></strong> to <strong ng-bind-html="mut.aa_to | aminoAcid"></strong></td>
          <td ng-if="mut.aa_from == mut.aa_to">N/A</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="dismiss()">Dismiss</button>
  </div>
</script>
<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-sitemap fa-fw"></i> <a href="#/{{ apiPath }}/clones">Clones</a> </li>
    <li>Clone Comparison</li>
  </ol>
</div>
<div class='notifications top-right'></div>
<button type="button" class="btn btn-success pull-right"
    ng-click="addPin()">
  <i class="fa fa-thumb-tack fa-fw"></i> Pin Page
</button>

<div class="alert alert-danger" role="alert" ng-show="apiChanged">
<strong>Warning: </strong>It appears that you reached this page after switching
database versions.  Keep in mind that clone IDs are <i>not</i> guaranteed to be
consistent across different versions.  Use clone group IDs to compare similar
clones across versions.</div>

<h3>Clone Details</h3>
<div class="table-responsive">
  <table class="table table-bordered" ng-repeat="info in cloneInfo">
    <thead>
      <tr class="active">
        <th>Clone ID</th>
        <th>Group ID</th>
        <th>V Gene</th>
        <th>J Gene</th>
        <th>CDR3 Length</th>
        <th>CDR3 AA</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ info.clone.id }}</td>
        <td><a href="#/{{ apiPath }}/clones/?group={{ info.clone.group.id }}"
          target="_blank">{{ info.clone.group.id }}</a></td>
        <td>{{ info.clone.group.v_gene }}</td>
        <td>{{ info.clone.group.j_gene }}</td>
        <td>{{ info.clone.cdr3_nt.length }}</td>
        <td ng-bind-html="info.clone.group.cdr3_aa | aminoAcid" class="text-mono"></td>
      </tr>
      <tr>
        <td colspan="6">
          <div class="pull-right">
            <a type="button" class="btn btn-primary" href="#/{{ apiPath
            }}/export_sequences/clone/{{ info.clone.id }}" target="_blank">Export
            Sequences...</a>
          </div>
          <h4 class="faded text-center" ng-hide="showSeqs">Click <a ng-click="showSeqs = !showSeqs">here</a> to show all {{ info.seqs.length }} sequences.</h4>
          <h4 ng-show="showSeqs">Sequences (<a ng-click="showSeqs = !showSeqs">Hide</a>)</h4>
          <table class="table table-bordered" ng-show="showSeqs">
            <thead>
              <tr class="info">
                <th>Sample #</th>
                <th>Sample Name</th>
                <th>Representative Sequence ID</th>
                <th>Copy Number</th>
              </tr>
            </thead>
            <tbody ng-repeat="stat in info.seqs">
              <tr>
                <td>{{ stat.sample.id }}</td>
                <td><a href="#/{{ apiPath }}/samples/{{ stat.sample.id }}" target="_blank">{{ stat.sample.name }}</a></td>
                <td><a href="#/{{ apiPath }}/sequence/{{ stat.sample.id }}/{{ stat.seq_id }}" target="_blank">{{ stat.seq_id }}</a></td>
                <td>{{ stat.copy_number }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="6" ng-init="field='unique'">
          <h4>
              <div class="btn-group" role="group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Threshold: {{ thresholdName == "0%" ? 'All' : thresholdName }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="cutoff in cutoffs">
                      <a ng-click="setThreshold(cutoff[1])">
                        <i class="fa fa-check fa-fw"
                        ng-show="cutoff[1] == threshold"></i><span
                          ng-bind-html="cutoff[0]"></span>
                          <span class="badge pull-right">
                          {{
                            info.mutation_stats.regions[cutoff[1]].all.counts[field].synonymous
                            +
                            info.mutation_stats.regions[cutoff[1]].all.counts[field].nonconservative
                            +
                            info.mutation_stats.regions[cutoff[1]].all.counts[field].conservative
                            | formatNumber
                          }}
                          </span>
                      </a>
                    </li>
                  </ul>
                </div>

                <button type="button" class="btn btn-default"
                  ng-click="field = (field == 'unique' ? 'total' : 'unique')">Switch to {{ field == 'total' ? 'Unique' : 'Total' }} Mutations
                </button>
              </div>

          </h4>
          <table class="table table-bordered">
            <thead>
              <tr class="info">
                <th>Region</th>
                <th>Synonymous</th>
                <th>Non-Synonymous</th>
                <th>Conservative</th>
                <th>Non-Conservative</th>
              </tr>
            </thead>
            <tbody ng-repeat="(region, stat) in info.mutation_stats.regions[threshold]">
              <tr>
                <td>
                  <strong>{{ region | uppercase }}</strong>
                  <button ng-disabled="stat.counts[field].synonymous + stat.counts[field].nonconservative + stat.counts[field].conservative == 0" class="btn btn-default btn-xs"
                  ng-click="openModal('Mutations', stat)">Show Mutations</button>
                </td>
                <td>
                  {{ stat.counts[field].synonymous }}
                  <span class="faded">({{
                    100 * stat.counts[field].synonymous /
                    (stat.counts[field].nonconservative +
                    stat.counts[field].conservative +
                    stat.counts[field].synonymous) | orZero | number:2 }}%)</span>
                </td>
                <td>
                  {{ stat.counts[field].nonconservative + stat.counts[field].conservative }}
                  <span class="faded">({{
                    100 * (stat.counts[field].nonconservative + stat.counts[field].conservative) /
                    (stat.counts[field].nonconservative +
                    stat.counts[field].conservative +
                    stat.counts[field].synonymous) | orZero | number:2 }}%)</span>
                </td>
                <td class="active">
                  {{ stat.counts[field].conservative }}
                  <span class="faded">({{ 100 * stat.counts[field].conservative / (stat.counts[field].nonconservative + stat.counts[field].conservative) | orZero | number:2 }}%)</span>
                </td>
                <td class="active">
                  {{ stat.counts[field].nonconservative }}
                  <span class="faded">({{ 100 * stat.counts[field].nonconservative / (stat.counts[field].nonconservative + stat.counts[field].conservative) | orZero | number:2 }}%)</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <h4>
            Lineage Tree
            <small>All sequences for this clone.  Labels indicate the number of mutation from most recent ancestor.</small>
            <div style="float:right">

              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"
                  ng-click="info.showFanouts=!info.showFanouts;updateTree(info.clone.id)">{{ info.showFanouts ? 'Hide' : 'Show' }} Large Leaf Fanouts</button>

                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Color By...<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                      <a ng-click="info.colorBy='tissues';updateTree(info.clone.id)">
                        <i class="fa fa-check fa-fw"
                        ng-show="info.colorBy=='tissues'"></i>Tissue
                      </a>
                    </li>
                    <li>
                      <a ng-click="info.colorBy='subsets';updateTree(info.clone.id)">
                        <i class="fa fa-check fa-fw"
                        ng-show="info.colorBy=='subsets'"></i>Subset
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </h4>
          <div id="tree_{{ info.clone.id }}" class="text-center"></div>
        </td>
      </tr>
      <tr>
        <td colspan="6">
          <h4>Sequence Comparison</h4>
          <div>
            <div class="slideWrap">
              <span class="scroller">
                <canvas id="compare-{{ info.clone.id }}">
                Your browser doesn't support HTML5! Please download a newer
                browser.
                </canvas>
              </span>
            </div>
            <ul class="pager">
              <li ng-show="pages[info.clone.id] > 0"><a href="" ng-click="prevPage(info.clone.id)">Previous</a></li>
              <li>Page {{ pages[info.clone.id] + 1 }} / {{
                ceil(info.seqs.length / SEQS_PER_CANVAS) }}</li>
              <li
                ng-show="pages[info.clone.id] + 1 < ceil(info.seqs.length /
              SEQS_PER_CANVAS)"><a href="" ng-click="nextPage(info.clone.id)">Next</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
