<script type="text/ng-template" id="mutationsModal.html">
  <div class="modal-header">
      <h4 class="modal-title">{{ title }}</h4>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr class="active">
          <th class="text-center">Count</th>
          <th class="text-center">Total Copies</th>
          <th class="text-center">Position</th>
          <th class="text-center">NT Mutation</th>
          <th class="text-center">Hypothetical AA Mutation</th>
          <th class="text-center">Final AA Mutation(s)</th>
        </tr>
      </thead>
      <tbody ng-repeat="type in ['synonymous', 'conservative', 'nonconservative', 'unknown']" ng-show="data.mutations[type].length > 0">
        <tr class="info">
          <td colspan="6"><strong>{{ type | capitalize }}</strong></td>
        </tr>
        <tr ng-repeat="mut in data.mutations[type] | orderBy:'position'">
          <td class="text-center">{{ mut.unique }}</td>
          <td class="text-center">{{ mut.total }}</td>
          <td class="text-center">{{ mut.pos + 1 }}</td>
          <td class="text-center"><strong ng-bind-html="mut.from_nt | dna"></strong> to
          <strong ng-bind-html="mut.to_nt | dna"></strong></td>
          <td class="text-center"><strong ng-bind-html="mut.from_aa | aminoAcid"></strong> to
          <strong ng-bind-html="mut.intermediate_aa | aminoAcid"></strong></td>
          <td class="text-center"><strong ng-bind-html="mut.from_aa | aminoAcid"></strong> to
          <strong ng-repeat="aa in mut.to_aas" ng-bind-html="aa | aminoAcid"></strong></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="dismiss()">Dismiss</button>
  </div>
</script>
<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-sitemap fa-fw"></i> <a href="#/{{ apiPath }}/clones">Clones</a> </li>
    <li>Clone</li>
  </ol>
</div>
<div class='notifications top-right'></div>
<button type="button" class="btn btn-success pull-right"
    ng-click="addPin()">
  <i class="fa fa-thumb-tack fa-fw"></i> Pin Page
</button>

<div class="alert alert-danger" role="alert" ng-show="apiChanged">
<strong>Warning: </strong>It appears that you reached this page after switching
database versions.  Keep in mind that clone IDs are <i>not</i> guaranteed to be
consistent across different versions.</div>

<h3>Clone #{{ cloneInfo.clone.id }}</h3>
<div class="panel panel-default">
  <div class="panel-heading">Basic Information</div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Clone ID</th>
            <th>V Gene</th>
            <th>J Gene</th>
            <th>CDR3 Length</th>
            <th>CDR3 AA</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ cloneInfo.clone.id }}</td>
            <td>{{ cloneInfo.clone.v_gene }}</td>
            <td>{{ cloneInfo.clone.j_gene }}</td>
            <td>{{ cloneInfo.clone.cdr3_nt.length }}</td>
            <td ng-bind-html="cloneInfo.clone.cdr3_aa | aminoAcid" class="text-mono"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Clone Samples
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr class="info">
          <th>#</th>
          <th>Date</th>
          <th>Name</th>
          <th>Tissue</th>
          <th>Subset</th>
          <th>Unique Seqs.</th>
          <th>Total Seqs.</th>
        </tr>
      </thead>
      <tbody ng-repeat="sample in cloneInfo.samples">
        <tr>
          <td>{{ sample.id }}</td>
          <td>{{ sample.date }}</td>
          <td><a href="#/{{ apiPath }}/samples/{{ sample.id }}" target="_blank">{{ sample.name }}</a></td>
          <td>{{ sample.tissue || '' }}</td>
          <td>{{ sample.subset || '' }}</td>
          <td>{{ sample.unique | number }}</td>
          <td>{{ sample.total | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Clone Sequences
    <span ng-show="showSeqs">(<a ng-click="showSeqs = !showSeqs">Hide</a>)</span>
    <div class="pull-right heading-button">
      <a type="button" class="btn btn-primary" href="#/{{ apiPath
      }}/export_sequences/clone/{{ cloneInfo.clone.id }}" target="_blank">Export
      Sequences...</a>
    </div>
  </div>
  <div class="table-responsive">
    <h4 class="faded text-center" ng-hide="showSeqs">Click <a
        ng-click="showSeqs = !showSeqs">here</a> to show all {{ cloneInfo.seqs.length }} sequences.</h4>
    <table class="table table-bordered" ng-show="showSeqs">
      <thead>
        <tr class="info">
          <th>Sample #</th>
          <th>Sample Name</th>
          <th>Representative Sequence ID</th>
          <th>Copy Number</th>
        </tr>
      </thead>
      <tbody ng-repeat="stat in cloneInfo.seqs | orderBy:'-copy_number_in_subject'">
        <tr>
          <td>{{ stat.sample.id }}</td>
          <td><a href="#/{{ apiPath }}/samples/{{ stat.sample.id }}" target="_blank">{{ stat.sample.name }}</a></td>
          <td><a href="#/{{ apiPath }}/sequence/{{ stat.sample.id }}/{{ stat.seq_id }}" target="_blank">{{ stat.seq_id }}</a></td>
          <td>{{ stat.copy_number_in_subject | number }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Mutation Statistics
    <div class="pull-right heading-button">
      <div class="btn-group" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Threshold: {{ thresholdName == "0%" ? 'All' : thresholdName }}<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="cutoff in cutoffs">
              <a ng-click="setThreshold(cutoff[1])">
                <i class="fa fa-check fa-fw"
                ng-show="cutoff[1] == threshold"></i><span
                  ng-bind-html="cutoff[0]"></span>
              <span class="badge pull-right">
                  {{
                    (cloneInfo.mutation_stats.regions[cutoff[1]].ALL.counts[field].synonymous
                    +
                    cloneInfo.mutation_stats.regions[cutoff[1]].ALL.counts[field].nonconservative
                    +
                    cloneInfo.mutation_stats.regions[cutoff[1]].ALL.counts[field].conservative
                    +
                    cloneInfo.mutation_stats.regions[cutoff[1]].ALL.counts[field].unknown)
                    || 0
                    | formatNumber
                  }}
                </span>
              </a>
            </li>
          </ul>
        </div>

        <button type="button" class="btn btn-default"
          ng-click="field = (field == 'unique' ? 'total' : 'unique')">Switch to {{ field == 'total' ? 'Unique' : 'Total' }} Mutations
        </button>
        <a type="button" class="btn btn-primary" href="#/{{ apiPath
        }}/export_mutations/clone/{{ cloneInfo.clone.id }}" target="_blank">Export
        Mutations...</a>
      </div>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr class="info">
        <th>Region</th>
        <th>Synonymous</th>
        <th>Non-Synonymous</th>
        <th>Unknown</th>
        <th>Conservative</th>
        <th>Non-Conservative</th>
      </tr>
    </thead>
    <tbody ng-repeat="(region, stat) in cloneInfo.mutation_stats.regions[threshold]">
      <tr>
        <td>
          <strong>{{ region | uppercase }}</strong>
          <button ng-disabled="stat.counts[field].synonymous + stat.counts[field].nonconservative + stat.counts[field].conservative == 0" class="btn btn-default btn-xs"
          ng-click="openModal('Mutations', stat)">Show Mutations</button>
        </td>
        <td>
          {{ stat.counts[field].synonymous | orZero }}
          <span class="faded">({{
            100 * stat.counts[field].synonymous /
            (stat.counts[field].nonconservative +
            stat.counts[field].conservative +
            stat.counts[field].synonymous +
            stats.counts[field].unknown) | orZero | number:2 }}%)</span>
        </td>
        <td>
          {{ stat.counts[field].nonconservative + stat.counts[field].conservative | orZero }}
          <span class="faded">({{
            100 * (stat.counts[field].nonconservative + stat.counts[field].conservative) /
            (stat.counts[field].nonconservative +
            stat.counts[field].conservative +
            stat.counts[field].synonymous +
            stats.counts[field].unknown) | orZero | number:2 }}%)</span>
        </td>
        <td>
          {{ stat.counts[field].unknown | orZero }}
          <span class="faded">({{
            100 * stat.counts[field].unknown /
            (stat.counts[field].nonconservative +
            stat.counts[field].conservative +
            stat.counts[field].synonymous +
            stats.counts[field].unknown) | orZero | number:2 }}%)</span>
        </td>
        <td class="active">
          {{ stat.counts[field].conservative | orZero }}
          <span class="faded">({{
            100 * stat.counts[field].conservative /
            (stat.counts[field].nonconservative + stat.counts[field].conservative) | orZero | number:2 }}%)</span>
        </td>
        <td class="active">
          {{ stat.counts[field].nonconservative | orZero }}
          <span class="faded">({{ 100 * stat.counts[field].nonconservative / (stat.counts[field].nonconservative + stat.counts[field].conservative) | orZero | number:2 }}%)</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    Selection Pressure
    <div class="pull-right heading-button">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
          ng-click="showAllPressure=!showAllPressure">
          {{
            showAllPressure ?
            'Show selection pressure only for entire clone'
            :
            'Show selection pressure for all samples'
          }}
        </button>
        <button type="button" class="btn btn-default"
          ng-click="pressureType = (pressureType == 'all' ? 'multiples' :
          'all')">{{ pressureType == 'all' ? 'Exclude mutations occurring only once'
          : 'Include all mutations' }}
        </button>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-center">
    <thead>
      <tr>
        <th></th>
        <th colspan="4">Observed Mutations</th>
        <th colspan="4">Expected</th>
        <th colspan="4">Focused Test</th>
      </tr>
      <tr>
        <th></th>
        <th colspan="2">CDR</th>
        <th colspan="2">FR</th>
        <th colspan="2">CDR</th>
        <th colspan="2">FR</th>
        <th colspan="2">Selection Value (&Sigma;)</th>
        <th colspan="2">95% CI</th>
      </tr>
      <tr class="active">
        <th>Sample Name</th>
        <th>S</th>
        <th>R</th>
        <th>S</th>
        <th>R</th>
        <th>S</th>
        <th>R</th>
        <th>S</th>
        <th>R</th>
        <th>CDR</th>
        <th>FR</th>
        <th>CDR</th>
        <th>FR</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pressure in selectionPressure | orderBy:-'sample.id'"
          ng-show="pressure.sample.id == null || showAllPressure">
        <td>
          <a href="#/{{ apiPath }}/samples/{{ pressure.sample.id }}"
               target="_blank" ng-show="pressure.sample.id != null">
            {{ pressure.sample.name }}
          </a>
          <strong ng-show="pressure.sample.id == null"><i>Entire Clone</i></strong>
        </td>
        <td>{{ pressure.pressure[pressureType].Observed_CDR_S }}</td>
        <td>{{ pressure.pressure[pressureType].Observed_CDR_R }}</td>
        <td>{{ pressure.pressure[pressureType].Observed_FWR_S }}</td>
        <td>{{ pressure.pressure[pressureType].Observed_FWR_R }}</td>
        <td>{{ pressure.pressure[pressureType].Expected_CDR_S }}</td>
        <td>{{ pressure.pressure[pressureType].Expected_CDR_R }}</td>
        <td>{{ pressure.pressure[pressureType].Expected_FWR_S }}</td>
        <td>{{ pressure.pressure[pressureType].Expected_FWR_R }}</td>

        <td ng-style="getColor(pressure.pressure[pressureType].Focused_P_CDR)">
          {{ pressure.pressure[pressureType].Focused_Sigma_CDR }}
        </td>
        <td ng-style="getColor(pressure.pressure[pressureType].Focused_P_FWR)">
          {{ pressure.pressure[pressureType].Focused_Sigma_FWR }}</td>
        <td>
          {{ pressure.pressure[pressureType].Focused_CIlower_CDR }},
          {{ pressure.pressure[pressureType].Focused_CIupper_CDR }}
        </td>
        <td>
          {{ pressure.pressure[pressureType].Focused_CIlower_FWR }},
          {{pressure.pressure[pressureType].Focused_CIupper_FWR }}
        </td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Sequence Comparison</div>
    <div class="panel-body">
      <div>
        <div class="slideWrap">
          <span class="scroller">
            <canvas id="compare">
            Your browser doesn't support HTML5! Please download a newer
            browser.
            </canvas>
          </span>
        </div>
        <ul class="pager">
          <li ng-show="page > 0"><a href=""
              ng-click="prevPage()")>Previous</a></li>
          <li>
            Page {{ page + 1 }} / {{
            Math.ceil(cloneInfo.seqs.length / SEQS_PER_CANVAS) }}</li>
          <li
            ng-show="page + 1 < Math.ceil(cloneInfo.seqs.length /
          SEQS_PER_CANVAS)"><a href="" ng-click="nextPage()">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-hide="hideQuality">
  <div class="panel-heading">Sequencing Quality</div>
    <div class="panel-body">
      <div ng-controller="HighChartController">
        <highchart config="qualityConfig" id="quality-plot"></highchart>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Lineage Tree
    <div class="pull-right heading-button" ng-hide="treeError">
      <div class="btn-group" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"
            ng-click="showFanouts=!showFanouts;updateTree()">{{ showFanouts ? 'Hide' : 'Show' }} Large Leaf Fanouts</button>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              Color By...<span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li>
                <a ng-click="colorBy='tissues';updateTree()">
                  <i class="fa fa-check fa-fw"
                  ng-show="colorBy=='tissues'"></i>Tissue
                </a>
              </li>
              <li>
                <a ng-click="colorBy='subsets';updateTree()">
                  <i class="fa fa-check fa-fw"
                  ng-show="colorBy=='subsets'"></i>Subset
                </a>
              </li>
              <li>
                <a ng-click="colorBy='ig_classes';updateTree()">
                  <i class="fa fa-check fa-fw"
                  ng-show="colorBy=='ig_classes'"></i>Ig Class
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="alert alert-warning" role="alert" ng-show="treeError">
      No lineage tree has been generated for this clone.
    </div>
    <div ng-show="!treeError">
      <div class="alert alert-danger" role="alert" ng-show="sampleWarning">
        <strong>Warning: </strong> Lineage trees include <i>all</i>
        sequences in a clone, not only those in the selected samples.
      </div>
      <div class="alert alert-info" role="alert">
        This tree includes mutations that occur in at least <strong>{{
          treeInfo.min_count }} sequence(s)</strong> across at least <strong>{{
        treeInfo.min_samples }} sample(s)</strong>.
      </div>
      <div id="tree" class="text-center"></div>
    </div>
  </div>
</div>
