<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-sitemap fa-fw"></i> <a href="#/{{ apiPath }}/clones">Clones</a></li>
  </ol>
</div>
<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Filter Clones (Use * for wildcard) </h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" name="clone_filter" role="form" ng-submit="updateClones()">
        <div class="form-group">
          <label class="sr-only" for="id_filter">Clone ID</label>
          <input type="number" class="form-control" ng-model="filter.id"
          id="id_filter" min="0" placeholder="Clone ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="id_filter">Clone Group ID</label>
          <input type="number" class="form-control" ng-model="filter.group_id"
            id="group_id_filter" min="0" placeholder="Clone Group ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="v_gene_filter">V-Gene</label>
          <input type="text" class="form-control" ng-model="filter.v_gene" id="v_gene_filter" placeholder="V-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="j_gene_filter">J-Gene</label>
          <input type="text" class="form-control" ng-model="filter.j_gene" id="j_gene_filter" placeholder="J-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="min_cdr3_len_filter">Min. CDR3 Length</label>
          <input type="number" class="form-control" ng-model="filter.min_cdr3_num_nts" id="min_cdr3_len_filter" min="0" placeholder="Min. CDR3 NTs">
        </div>
        <div class="form-group">
          <label class="sr-only" for="max_cdr3_len_filter">Max. CDR3 Length</label>
          <input type="number" class="form-control" ng-model="filter.max_cdr3_num_nts" id="max_cdr3_len_filter" min="0" placeholder="Max. CDR3 NTs">
        </div>
        <div class="form-group">
          <label class="sr-only" for="min_unique_filter">Min. Unique Seqs.</label>
          <input type="number" class="form-control" ng-model="filter.min_unique" id="min_unique_filter" min="0" placeholder="Min. Unique Seqs.">
        </div>
        <div class="form-group">
          <label class="sr-only" for="max_unique_filter">Max. Unique Seqs.</label>
          <input type="number" class="form-control" ng-model="filter.max_unique" id="max_unique_filter" min="0" placeholder="Max. Unique Seqs.">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Filter</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="table-responsive">
  <button ng-click="viewSamples()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_samples.length == 0">Show Selected</button>
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>Clone ID</th>
          <th>Group ID</th>
          <th>Subject</th>
          <th>V Gene</th>
          <th>J Gene</th>
          <th>CDR3 Length</th>
          <th>CDR3 AA</th>
          <th>Unique Seqs.</th>
          <th>Total Seqs.</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tbody ng-show="clones.length == 0">
          <tr>
            <td colspan="10" class="text-center">No results.</td>
          </tr>
        </tbody>
        <tbody ng-repeat="clone in clones" ng-show="clones.length > 0">
          <tr class="active">
            <td>{{ clone.id }}</td>
            <td>{{ clone.group.id }}</td>
            <td>{{ clone.group.subject.identifier}} ({{ clone.group.subject.study.name}})</td>
            <td>
              <span ng-show="!full">
                {{ clone.group.v_gene | geneTies }}
              </span>
              <span ng-show="full">{{ clone.group.v_gene }}</span>
              <a ng-click="full=!full"><i class="fa fa-ellipsis-h"></i></a>
            </td>
            <td>{{ clone.group.j_gene }}</td>
            <td>{{ clone.group.cdr3_num_nts }}</td>
            <td ng-bind-html="clone.group.cdr3_aa | aminoAcid" class="text-mono"></td>
            <td>{{ clone.unique_sequences | number }}</td>
            <td>{{ clone.total_sequences | number }}</td>
            <td><a href="#/{{ apiPath }}/clone_compare/{{ clone.id }}"
              target="_blank">View <i class="fa fa-angle-right fa-lg"></i></a></td>
          </tr>
          <tr>
            <td colspan="10" style="float:none; margin: 0 auto;">
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info">
                    <th></th>
                    <th>Sample #</th>
                    <th style="width: 50%">Sample Name</th>
                    <th>Unique Seqs.</th>
                    <th>Total Seqs.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="stat in clone.stats">
                    <td><input type="checkbox"
                      ng-model="checked"
                      ng-disabled="clone.id!=clone_id && clone_samples.length > 0"
                      ng-change="toggleSample(clone.id, stat.sample.id)"
                      ng-checked="isToggled(clone.id, stat.sample.id)"></input></td>
                    <td>{{ stat.sample.id }}</td>
                    <td><a href="#/{{ apiPath }}/samples/{{ stat.sample.id }}" target="_blank">{{ stat.sample.name }}</a></td>
                    <td>{{ stat.unique_sequences | number }}</td>
                    <td>{{ stat.total_sequences | number }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
        <tr ng-show="clones.length > 0">
          <td colspan="10">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="viewSamples()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_samples.length == 0">Show Selected</button>
  </form>
</div>
