<div class="header">
  <ol class="breadcrumb">
    <li>Clone Export</li>
    <li>{{ type }}</li>
    <li>{{ id.split(',').length > 25 ? (id.split(',') | slice:0:25) + '...' : id }}</li>
  </ol>
</div>

<h3>Clone Export</h3>
<div class="table-responsive">
<div class="panel panel-default">
  <div class="panel-body">
  <p>
    This page exports clone information with each line providing information about
    a given clone / sample combination.  For example:
  </p>

  <table class="table table-bordered table-condensed">
    <tr>
      <th class="text-mono">clone_id</th>
      <th class="text-mono">sample_id</th>
      <th>...</th>
      <th class="text-mono">unique_sequences</th>
      <th class="text-mono">total_sequences</th>
    </tr>
    <tr>
      <td>1000</td>
      <td>1</td>
      <td>...</td>
      <td>12345</td>
      <td>67890</td>
    </tr>
    <tr>
      <td>1000</td>
      <td>2</td>
      <td>...</td>
      <td>123</td>
      <td>456</td>
    </tr>
    <tr>
      <td>1001</td>
      <td>1</td>
      <td>...</td>
      <td>567</td>
      <td>789</td>
    </tr>
    <tr>
      <td>1001</td>
      <td>3</td>
      <td>...</td>
      <td>987</td>
      <td>1234</td>
    </tr>
    <tr>
      <td colspan="7" class="text-center"><i class="fa fa-ellipsis-v"></i></td>
    </tr>
  </table>
    <p>
      The <span class="text-mono">clone_id</span>, <span
      class="text-mono">sample_id</span>,  <span
      class="text-mono">unique_sequences</span>, and <span
      class="text-mono">total_sequences</span> are always included.  Additional
      fields can be selected below.
    </p>

    <p>
      To instead export sequences for this same selection use the <a href="#/{{
        apiPath }}/export_sequences/{{ type | lowercase }}/{{ id }}">sequence
        exporting page</a>.
    </p>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr class="active">
        <th colspan="4" class="text-center">Export Fields</th>
      </tr>
      <tr>
        <th></th>
        <th>Header Text</th>
        <th>Verbose Name</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="field in fields">
        <td>
          <input type="checkbox" checklist-model="checked_fields"
            checklist-value="field.header"
            ng-disabled="force.indexOf(field.header) >= 0">
        </td>
        <td class="text-mono-thin">{{ field.header }}</td>
        <td>{{ field.name }}</td>
        <td ng-bind-html="field.desc"></td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          <a class="btn btn-success"
            href="{{ apiUrl }}data/export_clones/{{ type | lowercase }}/{{
              id }}/?fields={{ checked_fields.join(',') }}&duplicates={{
                duplicates }}&noresults={{ noresults }}"
            target="_blank">Download</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
