<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-download"></i> Sequence Export</li>
    <li>{{ type }}</li>
    <li>{{ id.split(',').length > 25 ? (id.split(',') | slice:0:25) + '...' : id }}</li>
  </ol>
</div>

<h3>Sequence Export</h3>
<div class="table-responsive">
<div class="panel panel-default">
  <div class="panel-body">
    This page allows sequences to be exported in multiple formats:
    <ul>
      <li>
        <strong>Comma Separated:</strong> Contain one header line followed by one
        line per sequence including the fields selected.  Best for importing
        into spreadsheet software.
      </li>
      <li>
        <strong>FASTA:</strong> A <a
        href="http://en.wikipedia.org/wiki/FASTA_format"
        target="_blank">FASTA</a> file with a header comprised of the selected
        fields.  Sequences include <i>N</i>'s to align the sequences to their
        assigned germline, and dashes according to <a
        href="http://www.imgt.org/IMGTScientificChart/Numbering/IMGTnumbering.html"
        target="_blank">IMGT</a> numbering.
      </li>
      <li>
        <strong>FASTQ:</strong> A <a
        href="http://en.wikipedia.org/wiki/FASTQ_format"
        target="_blank">FASTQ</a> file including quality information when
        available.  Sequences missing quality information will still be included
        with their quality string left blank.
      </li>
      <li>
        <strong>CLIP:</strong> Same as FASTA but germlines
        will be included as a separate entry beginning with <i>&gt;&gt;</i>
        rather than one.  Multiple sequences may come after a single germline
        and indicates all have the same germline sequence.
      </li>
    </ul>
    For all FASTA formats, fields will be included in the header separated by a
    pipe ("|") symbol.
  </div>
  <table class="table table-bordered">
    <tr class="active">
      <th colspan="4" class="text-center">Export Options</th>
    </tr>
    <tr>
      <td colspan="4">
        <div class="row">
          <div class="form-group col-sm-2">
            <label>Export Format:</label>
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button">
                {{ format ? formatText : 'Select...' }} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="f in formats">
                  <a role="menuitem" tabindex="-1" ng-click="changeType(f)">{{ f.text }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div ng-show="format">
          <div class="row">
          </div>
          <div class="row">
            <div ng-class="'form-group col-sm-2' + (!minCopyNumber ||
            minCopyNumber < 1 ? ' has-error' : '')">
              <label>Minimum Copy Number:</label>
              <input type="number" class="form-control" name="minCopyNumber"
                min="1" ng-model="minCopyNumber">
            </div>
            <div class="form-group col-sm-2">
              <label>At Collapse Level:</label>
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button">
                  {{ level[0] | uppercase }}{{ level.substring(1) }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" ng-click="level='uncollapsed'">Uncollapsed</a>
                    <a role="menuitem" tabindex="-1" ng-click="level='sample'">Sample</a>
                    <a role="menuitem" tabindex="-1" ng-click="level='subject'">Subject</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="onlyWithClones"> <strong>Include
                only sequences assigned to clones:</strong><p>Clones which are not in
              a clone will be excluded from the export.
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="duplicates"> <strong>Include
              duplicate sequences:</strong><p>
                Duplicate sequences will be included in the output and will be
                indicated by a copy number of zero.  To determine the sequence to
                which it was collapsed, include the <span
                class="text-mono-thin">duplicate_of_seq_id</span> field.</p>
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="noresults"> <strong>Include
              unidentified sequences:</strong><p>Sequences that could not be
              assigned a V- or J-gene will be included in the output.  All fields
              except <span class="text-mono-thin">seq_id</span> and those related
              to the sample will be "None".</p>
            </label>
          </div>
        </div>
      </td>
    </tr>
    <tbody ng-show="format">
      <tr class="active">
        <th colspan="4" class="text-center">Export Fields</th>
      </tr>
      <tr>
        <th><input type="checkbox" ng-model="allToggled" ng-change="toggleAll()"</th>
        <th>Header Text</th>
        <th>Verbose Name</th>
        <th>Description</th>
      </tr>
      <tr ng-repeat="field in fields">
        <td>
          <input type="checkbox"
            ng-model="field.toggled"
            ng-checked="forceSeq && field.header == 'seq_id' || field.toggled"
            ng-disabled="forceSeq && field.header == 'seq_id'">
        </td>
        <td class="text-mono-thin">{{ field.header }}</td>
        <td>{{ field.name }}</td>
        <td ng-bind-html="field.desc"></td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          <a class="btn btn-success"
            ng-disabled="!minCopyNumber || minCopyNumber < 1 || getFields().length == 0"
            ng-href="{{ apiUrl }}data/export_sequences/{{ format }}/{{ type | lowercase }}/{{
              id }}/{{ level }}/?fields={{ getFields().join(',') }}&duplicates={{
                duplicates }}&noresults={{ noresults }}&min_copy_number={{
                minCopyNumber }}&only_with_clones={{ onlyWithClones }}"
            target="_blank">Download</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
