<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-thumb-tack fa-fw"></i> <a href="#/{{ apiPath
    }}/pins">Pinned Items</a></li>
  </ol>
</div>
<div class="alert alert-warning" role="alert">
  <strong>Note:</strong> Pinned items are stored with cookies.  Thus, they
  cannot be seen by others and will be erased when your browser cache is
  cleared.
</div>
<h3>Pinned Items <a ng-click="pins.clear(); showPins=false">(Clear All)</a></h3>
<div class="well text-center" ng-show="!showPins">
  You don't have any pins.  Find the
<button type="button" class="btn btn-success">
  <i class="fa fa-thumb-tack fa-fw"></i> Pin Page
</button>
button at the top-right of pages to add pins.
</div>
<table class="table table-bordered" ng-show="showPins">
  <thead>
    <tr class="info">
      <th></th>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(loc, pin) in pins.getPins()">
      <td class="text-center"><a ng-click="pins.deletePin(loc)"><i class="fa fa-times"
        style="color: #c00"></i></a></td>
      <td>{{ pin }}</td>
      <td><a href="#{{ loc }}"
        target="_blank">View <i class="fa fa-angle-right fa-lg"></i></a></td>
    </tr>
    </tr>
  </tbody>
</table>
