<ol class="breadcrumb">
  <li><a href="#/studies">Studies</a>
  </li>
  <li>Sample Comparison</li>
</ol>

<h3>Basic Statistics</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Total Seqs.</th>
        <th>Valid Seqs.</th>
        <th>Invalid Seqs.</th>
        <th>In-frame</th>
        <th>Functional</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in grouped_stats">
        <td>{{ stat.sample.id }}</td>
        <td>{{ stat.sample.name }}</td>
        <td>{{ stat.sample.valid_cnt + stat.sample.no_result_cnt | number}}</td>
        <td>{{ stat.sample.valid_cnt | number }}</td>
        <td>{{ stat.sample.no_result_cnt | number }}</td>
        <td>{{ 100 * stat.all.in_frame_cnt / stat.sample.valid_cnt | number : 2}}%</td>
        <td>{{ 100 * stat.sample.functional_cnt / stat.sample.valid_cnt | number : 2}}%</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Feature Distributions</h3>
<ul class="nav nav-pills" role="tablist" id="funcTab">
  <li class="active"><a href="#all" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.all | formatNumber }}</span> All</a>
  </li>
  <li><a href="#functional" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.functional | formatNumber }}</span>Functional</span></a>
  </li>
  <li><a href="#nonfunctional" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.nonfunctional | formatNumber }}</span>
  Non-Functional</a>
  </li>
  <li><a href="#unique" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.unique | formatNumber }}</span>Unique</a>
  </li>
  <li><a href="#unique_multiple" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.unique_multiple | formatNumber }}</span> Unique
  w/ Copy # > 1</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane in active" id="all">
    <div id="vHeatmapAll"></div>
    <div ng-repeat="config in charts.all" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_all"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="functional">
    <div id="vHeatmapFunctional"></div>
    <div ng-repeat="config in charts.functional" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_functional"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="nonfunctional">
    <div id="vHeatmapNonFunctional"></div>
    <div ng-repeat="config in charts.nonfunctional" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_nonfunctional"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="unique">
    <div id="vHeatmapUnique"></div>
    <div ng-repeat="config in charts.unique" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_unique"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="unique_multiple">
    <div id="vHeatmapUniqueMultiple"></div>
    <div ng-repeat="config in charts.unique_multiple" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_unique_multiple"></highchart>
    </div>
  </div>
</div>
