<ol class="breadcrumb">
  <li><a href="#/studies">Studies</a>
  </li>
  <li>Sample Comparison</li>
</ol>

<div class="alert alert-warning" role="alert" ng-show="missing.length > 0"><strong>Warning</strong> The following samples do not have statistical information, or do not exist:
  <ul>
    <li ng-repeat="m in missing">Sample #{{ m }}</li>
  </ul>
</div>
<h3>Basic Statistics</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th># <a data-toggle="tooltip" title="A globally unique ID for this sample"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Name <a data-toggle="tooltip" title="A name for the sample"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Total Seqs. <a data-toggle="tooltip" title="Total sequences in the sample"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Valid Seqs. <a data-toggle="tooltip" title="Sequences which have V and J regions that match a germline"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Invalid Seqs. <a data-toggle="tooltip" title="Sequences which have V and J regions that do not match a germline"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>In-frame <a data-toggle="tooltip" title="Sequences which have a number of nucleotides divisible by three"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
        <th>Functional <a data-toggle="tooltip" title="Sequences which are in-frame and contain no stop codons"><span class="glyphicon glyphicon-question-sign"></span></a>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stat in meta">
        <td>{{ stat.sample.id }}</td>
        <td>{{ stat.sample.name }}</td>
        <td>{{ stat.sample.valid_cnt + stat.sample.no_result_cnt | number}}</td>
        <td>{{ stat.sample.valid_cnt | number }}</td>
        <td>{{ stat.sample.no_result_cnt | number }}</td>
        <td>{{ 100 * stat.all.in_frame_cnt / stat.sample.valid_cnt | number : 2}}%</td>
        <td>{{ 100 * stat.sample.functional_cnt / stat.sample.valid_cnt | number : 2}}%</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Feature Distributions</h3>
<ul class="nav nav-pills" role="tablist" id="funcTab">
  <li class="active"><a href="#unique_multiple" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.unique_multiple | formatNumber }}</span> Unique
  w/ Copy # > 1</a>
  </li>
  <li><a href="#unique" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.unique | formatNumber }}</span>Unique</a>
  </li>
  <li><a href="#nonfunctional" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.nonfunctional | formatNumber }}</span>
  Non-Functional</a>
  </li>
  <li><a href="#functional" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.functional | formatNumber }}</span>Functional</span></a>
  </li>
  <li><a href="#all" role="tab" data-toggle="tab"><span class="badge pull-right">{{ cnts.all | formatNumber }}</span> All</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane in active" id="unique_multiple">
    <div id="vHeatmapUniquemultiple"></div>
    <div ng-repeat="config in charts.unique_multiple" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_unique_multiple"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="unique">
    <div id="vHeatmapUnique"></div>
    <div ng-repeat="config in charts.unique" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_unique"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="functional">
    <div id="vHeatmapFunctional"></div>
    <div ng-repeat="config in charts.functional" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_functional"></highchart>
    </div>
  </div>

  <div class="tab-pane" id="nonfunctional">
    <div id="vHeatmapNonfunctional"></div>
    <div ng-repeat="config in charts.nonfunctional" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_nonfunctional"></highchart>
    </div>
  </div>
  <div class="tab-pane" id="all">
    <div id="vHeatmapAll"></div>
    <div ng-repeat="config in charts.all" ng-controller="HighChartController">
      <highchart config="config" id="{{ config.key }}_all"></highchart>
    </div>
  </div>
</div>
