<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-table fa-fw"></i> <a href="#/{{ apiPath }}/studies">Studies</a>
    </li>
    <li>Sample Comparison</li>
  </ol>
</div>
<div class='notifications top-right'></div>

<ul class="nav nav-pills pull-right" role="tablist">
  <li>
    <button type="button" class="btn btn-primary"
        ng-click="showPartials = false; doRequest()" ng-show="showPartials">
      <i class="fa fa-minus-square-o fa-fw"></i> Exclude Partial Reads
    </button>
    <button type="button" class="btn btn-primary"
        ng-click="showPartials = true; doRequest()" ng-show="!showPartials">
      <i class="fa fa-plus-square-o fa-fw"></i> Include Partial Reads
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-primary"
        ng-click="showOutliers = false; doRequest()" ng-show="showOutliers">
      <i class="fa fa-minus-square-o fa-fw"></i> Exclude Outliers
    </button>
    <button type="button" class="btn btn-primary"
        ng-click="showOutliers = true; doRequest()" ng-show="!showOutliers">
      <i class="fa fa-plus-square-o fa-fw"></i> Include Outliers
    </button>
  </li>
  <li>
    <button type="button" class="btn btn-success pull-right"
        ng-click="addPin()">
      <i class="fa fa-thumb-tack fa-fw"></i> Pin Page
    </button>
  </li>
</ul>

<div class="alert alert-warning" role="alert" ng-show="missing.length >
0"><strong>Warning: </strong> The following samples do not have statistical information, or do not exist:
  <ul>
    <li ng-repeat="m in missing">Sample #{{ m }}</li>
  </ul>
</div>
<h3>Basic Statistics <a ng-click="showDetails=!showDetails">(Show Details)</a></h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="active">
        <th># <a data-toggle="tooltip" title="A globally unique ID for this sample"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Name <a data-toggle="tooltip" title="A name for the sample"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Total <a data-toggle="tooltip" title="Total sequences in the sample"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Valid <a data-toggle="tooltip" title="Sequences which have V and J regions that match a germline"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Invalid <a data-toggle="tooltip" title="Sequences which have V and J regions that do not match a germline"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>In-frame <a data-toggle="tooltip" title="Sequences which have a number of nucleotides divisible by three"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Functional <a data-toggle="tooltip" title="Sequences which are in-frame and contain no stop codons"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Funct. &amp; Unique <a data-toggle="tooltip" title="Unique sequences"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Funct. &amp; Unique &amp; CN &gt; 1 <a data-toggle="tooltip" title="Unique sequences with copy number greater than one"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Clones <a data-toggle="tooltip" title="Number of clones"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>Funct. Clones <a data-toggle="tooltip" title="Number of functional clones"><i class="fa fa-question-circle"></i></a>
        </th>
        <th>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
            ng-disabled="selectedSamples.length == 0">
            Export...<span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#/{{ apiPath }}/export_sequences/sample/{{ selectedSamples.join(',') }}" target="_blank">Sequences</a></li>
            <li><a href="#/{{ apiPath }}/export_clones/sample/{{ selectedSamples.join(',') }}" target="_blank">Clones</a></li>
            <li><a href="#/{{ apiPath }}/export_mutations/sample/{{ selectedSamples.join(',') }}" target="_blank">Mutations</a></li>
          </ul>
        </div>
      </tr>
    </thead>
    <tbody ng-repeat="sample in samples">
      <tr>
        <td>{{ sample.id }}</td>
        <td>{{ sample.name }}</td>
        <td>{{ sample.sequence_cnt + sample.no_result_cnt | number }}</td>
        <td>{{ sample.sequence_cnt | number }}</td>
        <td>{{ sample.no_result_cnt | number }}</td>
        <td>{{ 100 * sample.in_frame_cnt /
          (sample.sequence_cnt > 0 ? sample.sequence_cnt : 1) | number : 2}}%</td>
        <td>{{ 100 * sample.functional_cnt /
          (sample.sequence_cnt > 0 ? sample.sequence_cnt : 1)| number : 2}}%</td>
        <td>{{ cnts.unique[sample.id] | number }}</td>
        <td>{{ cnts.unique_multiple[sample.id] | number }}</td>
        <td>{{ cnts.clones_all[sample.id] | number }}</td>
        <td>{{ cnts.clones_functional[sample.id] | number }}</td>
        <td>
          <input type="checkbox" checklist-model="selectedSamples"
            checklist-value="sample.id"></input>
        </td>
      </tr>
      <tr ng-show="showDetails">
        <td colspan="12">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr class="info">
                <th>Date</th>
                <th>Subject</th>
                <th>Subset</th>
                <th>Tissue</th>
                <th>Disease</th>
                <th>Lab</th>
                <th>Experimenter</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ sample.date }}</td>
                <td><a href="#/{{ apiPath }}/subject/{{ sample.subject.id }}" target="_blank">{{ sample.subject.identifier }}</a></td>
                <td>{{ sample.subset }}</td>
                <td>{{ sample.tissue }}</td>
                <td>{{ sample.disease }}</td>
                <td>{{ sample.lab }}</td>
                <td>{{ sample.experimenter }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Sample Analysis</div>
  <div class="panel-body">
    <div ng-show="cnts.all.total > 0">
      <h3 ng-init="filter='Unique Functional Sequences with Copy Number > 1'">{{ filter }}</h3>
      <ul class="nav nav-pills" role="tablist" id="funcTab">
        <li class="dropdown">
          <a role="button" data-toggle="dropdown">Clones <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="cnts.clones_all.total == 0 ? 'disabled' : ''">
              <a href="#clones_all" role="tab" data-toggle="tab" ng-click="filter='All Clones'">
                <span class="badge pull-right">{{ cnts.clones_all.total | formatNumber }}</span>All
              </a>
            </li>
            <li ng-class="cnts.clones_functional.total == 0 ? 'disabled' : ''">
              <a href="#clones_functional" role="tab" data-toggle="tab" ng-click="filter='Functional Clones'">
                <span class="badge pull-right">{{ cnts.clones_functional.total | formatNumber }}</span>Functional
              </a>
            </li>
            <li ng-class="cnts.clones_nonfunctional.total == 0 ? 'disabled' : ''">
              <a href="#clones_nonfunctional" role="tab" data-toggle="tab" ng-click="filter='Non-Functional Clones'">
                <span class="badge pull-right">{{ cnts.clones_nonfunctional.total | formatNumber }}</span>Non-Functional
              </a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a role="button" data-toggle="dropdown">Functional &amp; Unique <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="cnts.unique.total == 0 ? 'disabled' : ''">
              <a href="#unique" role="tab" data-toggle="tab"
                ng-click="filter='Unique Functional Sequences'">
                <span class="badge pull-right">{{ cnts.unique.total | formatNumber }}</span>All
              </a>
            </li>
            <li ng-class="cnts.unique_multiple.total == 0 ? 'disabled' : ''">
              <a href="#unique_multiple" role="tab" data-toggle="tab"
                ng-click="filter='Unique Functional Sequences with Copy Number > 1'">
                <span class="badge pull-right">{{ cnts.unique_multiple.total | formatNumber }}</span>Copy # > 1
              </a>
            </li>
          </ul>
        </li>

        <li class="dropdown">
          <a role="button" data-toggle="dropdown">Functionality <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="cnts.functional.total == 0 ? 'disabled' : ''">
              <a href="#functional" role="tab" data-toggle="tab"
                ng-click="filter='Functional Sequences'">
                <span class="badge pull-right">{{ cnts.functional.total | formatNumber }}</span>Functional
              </a>
            </li>
            <li ng-class="cnts.nonfunctional.total == 0 ? 'disabled' : ''">
              <a href="#nonfunctional" role="tab" data-toggle="tab"
                    ng-click="filter='Non-Functional Sequences'">
                <span class="badge pull-right">{{ cnts.nonfunctional.total | formatNumber }}</span>Non-Functional
              </a>
            </li>
          </ul>
        </li>

        <li ng-class="cnts.all.total == 0 ? 'disabled' : ''">
          <a href="#all" role="tab" data-toggle="tab" ng-click="filter='All
            Sequences'"><span class="badge pull-right">{{ cnts.all.total | formatNumber }}</span> All</a>
        </li>
        <li class="pull-right">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Grouped by {{ grouping == 'name' ? 'sample' : grouping }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="grouping = 'name'; doRequest();">Sample</a></li>
              <li><a ng-click="grouping = 'tissue'; doRequest();">Tissue</a></li>
              <li><a ng-click="grouping = 'subset'; doRequest();">Subset</a></li>
              <li><a ng-click="grouping = 'subject'; doRequest();">Subject</a></li>
            </ul>
          </div>
        </li>
        <li class="pull-right">
            <button type="button" class="btn btn-primary pull-right"
                ng-click="byFamily = false; doRequest()" ng-show="byFamily">
              <i class="fa fa-minus-square-o fa-fw"></i> Switch Heatmap to V Gene
            </button>
            <button type="button" class="btn btn-primary pull-right"
                ng-click="byFamily = true; doRequest()" ng-show="!byFamily">
              <i class="fa fa-plus-square-o fa-fw"></i> Switch Heatmap to V Family
            </button>
        </li>
      </ul>

      <div class="tab-content" id="filtered-panels">
        <filtered-panel
          filter="clones_all"
          cnt="cnts.clones_all.total"
          api-path="apiPath"
          heatmap="vHeatmap_clones_all"
          charts="charts.clones_all"
          samples="sampleIds"></filtered-panel>

        <filtered-panel
          filter="clones_functional"
          cnt="cnts.functional.total"
          api-path="apiPath"
          heatmap="vHeatmap_clones_functional"
          charts="charts.clones_functional"
          samples="sampleIds"></filtered-panel>

        <filtered-panel
          filter="clones_nonfunctional"
          cnt="cnts.clones_nonfunctional.total"
          api-path="apiPath"
          heatmap="vHeatmap_clones_nonfunctional"
          charts="charts.clones_nonfunctional"
          samples="sampleIds"></filtered-panel>

        <filtered-panel
          tclass="tab-pane in active"
          cnt="cnts.unique_multiple.total"
          api-path="apiPath"
          filter="unique_multiple"
          heatmap="vHeatmap_unique_multiple"
          charts="charts.unique_multiple"></filtered-panel>

        <filtered-panel
          filter="unique"
          cnt="cnts.unique.total"
          api-path="apiPath"
          heatmap="vHeatmap_unique"
          charts="charts.unique"></filtered-panel>

        <filtered-panel
          filter="functional"
          cnt="cnts.functional.total"
          api-path="apiPath"
          heatmap="vHeatmap_functional"
          charts="charts.functional"></filtered-panel>

        <filtered-panel
          filter="nonfunctional"
          cnt="cnts.nonfunctional.total"
          api-path="apiPath"
          heatmap="vHeatmap_nonfunctional"
          charts="charts.nonfunctional"></filtered-panel>

        <filtered-panel
          filter="all"
          cnt="cnts.all.total"
          api-path="apiPath"
          heatmap="vHeatmap_all"
          charts="charts.all"></filtered-panel>
      </div>
    </div>

    <div ng-show="cnts.all.total == 0">
      <div class="alert alert-warning text-center" role="alert">
        No results for any filter for this outlier/partial read combination.

        <button type="button" class="btn btn-primary"
            ng-click="showOutliers = false; doRequest()" ng-show="showOutliers">
          <i class="fa fa-minus-square-o fa-fw"></i> Exclude Outliers
        </button>
        <button type="button" class="btn btn-primary"
            ng-click="showOutliers = true; doRequest()" ng-show="!showOutliers">
          <i class="fa fa-plus-square-o fa-fw"></i> Include Outliers
        </button>

        <button type="button" class="btn btn-primary"
            ng-click="showPartials = false; doRequest()" ng-show="showPartials">
          <i class="fa fa-minus-square-o fa-fw"></i> Exclude Partial Reads
        </button>
        <button type="button" class="btn btn-primary"
            ng-click="showPartials = true; doRequest()" ng-show="!showPartials">
          <i class="fa fa-plus-square-o fa-fw"></i> Include Partial Reads
        </button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Clonal Rarefaction</div>
  <div class="panel-body">
    <div class="well text-center">
      <div>
        <form class="form-inline">
          <div class="dropdown form-group">
            <button class="btn btn-default dropdown-toggle" type="button">
              {{ rarefactionModes[rarefactionMode] }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" ng-repeat="(mode, label) in rarefactionModes">
                <a role="menuitem" tabindex="-1"
                  ng-click="setRarefactionMode(mode)">{{ label }}</a>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <input type="number" class="form-control" min="1"
            ng-model="rarefactionPoints" placeholder="Approx. Data Points" style="width:
            200px" ng-hide="rarefactionMode == 'sample'">
          </div>
          <button type="button" class="btn btn-primary"
              ng-click="generateRarefaction()" ng-disabled="rarefactionMode !=
              'sample' && !rarefactionPoints">
          Calculate Rarefaction
          </button>
        </form>
        <p>
          <strong>Warning:</strong> Calculating rarefaction for large samples may take a
          long time.
        </p>
      </div>
      <div ng-show="rarefactionStatus=='loading'">
        <i class="fa fa-spinner fa-spin"></i> Calculating rarefaction...
      </div>
    </div>
    <div id="rarefaction"></div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Sequence V Gene AA Diversity</div>
  <div class="panel-body">
    <div class="well text-center" ng-hide="diversityStatus=='loaded'">
      <div ng-hide="diversityStatus!='none'">
          <button type="button" class="btn btn-primary"
              ng-click="generateDiversity()">
          Calculate Positional Diversity
          </button>
        </form>
        <p>
          <strong>Warning:</strong> Calculating diversity for large samples may take a
          long time.
        </p>
      </div>
      <div ng-show="diversityStatus=='loading'">
        <i class="fa fa-spinner fa-spin"></i> Calculating diversity...
      </div>
    </div>
    <div id="diversity"></div>
  </div>
</div>


