<div class="header">
  <ol class="breadcrumb">
    <li><a href="#/{{ api_path }}/sequences"><i class="fa fa-sitemap
    fa-fw"></i>Sequences</a></li>
  </ol>
</div>
<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Filter Sequences (Use * for wildcard) </h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" name="seq_filter" role="form" ng-submit="updateSequences()">
        <div class="form-group">
          <label class="sr-only" for="id_filter">Sequence ID</label>
          <input  class="form-control" ng-model="filter.seq_id" id="id_filter" placeholder="Sequence ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="v_call_filter">V-Gene</label>
          <input type="text" class="form-control" ng-model="filter.v_call" id="v_call_filter" placeholder="V-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="j_call_filter">J-Gene</label>
          <input type="text" class="form-control" ng-model="filter.j_call" id="j_call_filter" placeholder="J-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="sample_id_filter">Sample ID</label>
          <input type="text" class="form-control" ng-model="filter.sample_id"
            id="sample_id_filter" placeholder="Sample ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="copy_number_filter">Minimum Copy Number</label>
          <input type="number" min="1" class="form-control" ng-model="filter.copy_number"
            id="copy_number_filter" placeholder="Minimum Copy Number">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Filter</button>
        </div>
        <div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="form-control"
              ng-model="filter.show_r1" id="show_r1"> Show R1 Sequences
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="form-control"
              ng-model="filter.show_indel" id="show_indel"> Show Probably Indels /
              Misalignments 
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="table-responsive">
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>Sequence ID</a></th>
          <th>Subject</a></th>
          <th>V Gene</a></th>
          <th>J Gene</a></th>
          <th>CDR3 Length</a></th>
          <th>CDR3 AA</th>
          <th>Alignment</th>
          <th>Functional</th>
          <th>Copy Number</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="sequences.length == 0">
          <td colspan="10" class="text-center">No results.</td>
        </tr>
        <tr ng-repeat="seq in sequences" ng-show="sequences.length > 0"
          ng-class="seq.levenshtein_dist ? 'danger' : ''">
          <td>{{ seq.seq_id }}</td>
          <td><a href="#/{{ api_path }}/subject/{{ seq.sample.subject.id }}"
            target="_blank">{{ seq.sample.subject.identifier }}</a></td>
          <td>{{ seq.v_call }}</td>
          <td>{{ seq.j_call }}</td>
          <td>{{ seq.cdr3_length }}</td>
          <td ng-bind-html="seq.junction_aa | aminoAcid" class="text-mono"></td>
          <td>{{ seq.alignment }}</td>
          <td>{{ seq.functional ? 'Yes' : 'No' }}</td>
          <td>{{ seq.copy_number }}</td>
          <td>
            <a href="#/{{ api_path }}/sequence/{{ seq.sample.id }}/{{ seq.seq_id }}" target="_blank">View
            Sequence <span class="glyphicon glyphicon-chevron-right"></span></a>
          </td>
        </tr>
        <tr ng-show="sequences.length > 0">
          <td colspan="10">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
