<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-sitemap fa-fw"></i> <a href="#/{{ apiPath
    }}/sequences">Sequences</a></li>
  </ol>
</div>
<div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Filter Sequences (Use % for wildcard) </h3>
    </div>
    <div class="panel-body">
      <form class="form-inline" name="seq_filter" role="form" ng-submit="updateSequences()">
        <div class="form-group">
          <label class="sr-only" for="id_filter">Sequence ID</label>
          <input  class="form-control" ng-model="filter.seq_id" id="id_filter" placeholder="Sequence ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="v_gene_filter">V-Gene</label>
          <input type="text" class="form-control" ng-model="filter.v_gene" id="v_gene_filter" placeholder="V-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="j_gene_filter">J-Gene</label>
          <input type="text" class="form-control" ng-model="filter.j_gene" id="j_gene_filter" placeholder="J-Gene">
        </div>
        <div class="form-group">
          <label class="sr-only" for="sample_id_filter">Sample ID</label>
          <input type="text" class="form-control" ng-model="filter.sample_id"
            id="sample_id_filter" placeholder="Sample ID">
        </div>
        <div class="form-group">
          <label class="sr-only" for="min_copy_number_filter">Minimum Copy Number</label>
          <input type="number" min="1" class="form-control" ng-model="filter.min_copy_number"
            id="min_copy_number_filter" placeholder="Minimum Copy Number">
        </div>
        <div class="form-group">
          <label class="sr-only" for="max_copy_number_filter">Maximum Copy Number</label>
          <input type="number" min="1" class="form-control" ng-model="filter.max_copy_number"
            id="max_copy_number_filter" placeholder="Maximum Copy Number">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-info">Filter</button>
        </div>
        <div>
          <div class="form-group">
            <select class="form-control" ng-model="filter.collapsed" ng-change="updateSequences()">
              <option value="sample">Unique in Samples</option>
              <option value="subject">Unique in Subjects</option>
            </select>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox" class="form-control"
              ng-model="filter.show_partials" id="show_partials" ng-change="updateSequences()"> Show Partial Sequences
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="form-control"
              ng-model="filter.show_indel" id="show_indel"
              ng-change="updateSequences()"> Show Uncorrected Indels /
              Misalignments
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="table-responsive">
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>
            <a ng-click="order('seq_id')">
              Sequence ID
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='seq_id'"></i>
            </a>
          </th>
          <th>Subject</th>
          <th>
             <a ng-click="order('v_gene')">
              V Gene
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='v_gene'"></i>
            </a>
          </th>
          <th>
             <a ng-click="order('j_gene')">
              J Gene
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='j_gene'"></i>
            </a>
          </th>
          <th>
             <a ng-click="order('cdr3_num_nts')">
               CDR3 Length
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='cdr3_num_nts'"></i>
            </a>
          </th>
          <th>
             <a ng-click="order('cdr3_aa')">
               CDR3 AA
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='cdr3_aa'"></i>
            </a>
          </th>
          <th>
             <a ng-click="order('functional')">
               Functional
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='functional'"></i>
            </a>
          </th>
          <th>
             <a ng-click="order('copy_number')">
               Copy Number
              <i class="fa fa-chevron-{{ orderDir == 'asc' ? 'up' : 'down' }}"
                ng-show="orderField=='copy_number'"></i>
            </a>
          </th>
          <th>
            Instances
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="sequences.length == 0">
          <td colspan="10" class="text-center"><strong>No results.</strong>
            <p>Perhaps show Partial Sequences or Probable Indel / Misalignments?</p>
          </td>
        </tr>
        <tr ng-repeat="seq in sequences" ng-show="sequences.length > 0"
          ng-class="seq.partial ? 'warning' : (seq.probable_indel_or_misalign ? 'danger' : '')">
          <td>{{ seq.seq_id }}</td>
          <td><a href="#/{{ apiPath }}/subject/{{ seq.sample.subject.id }}"
            target="_blank">{{ seq.sample.subject.identifier }}</a></td>
          <td>
            <span ng-show="!fullV">
              {{ seq.v_gene | geneTies:'IGHV' }}
              <a ng-click="fullV=!fullV"><i class="fa fa-plus"></i></a>
            </span>
            <span ng-show="fullV">
              {{ seq.v_gene }}
              <a ng-click="fullV=!fullV"><i class="fa fa-minus"></i></a>
            </span>
          </td>
          <td>
            <span ng-show="!fullJ">
              {{ seq.j_gene | geneTies:'IGHJ' }}
              <a ng-click="fullJ=!fullJ"><i class="fa fa-plus"></i></a>
            </span>
            <span ng-show="fullJ">
              {{ seq.j_gene }}
              <a ng-click="fullJ=!fullJ"><i class="fa fa-minus"></i></a>
            </span>
          </td>
          <td>{{ seq.cdr3_num_nts }}</td>
          <td ng-bind-html="seq.cdr3_aa | aminoAcid" class="text-mono"></td>
          <td>{{ seq.functional ? 'Yes' : 'No' }}</td>
          <td>{{ filter.collapsed == 'sample' ? seq.copy_number :
              seq['copy_number_in_subject'] }}</td>
          <td>{{ seq.instances_in_subject }}</td>
          <td>
            <a href="#/{{ apiPath }}/sequence/{{ seq.sample.id }}/{{ seq.seq_id }}" target="_blank">View
            <i class="fa fa-angle-right fa-lg"></i></a>
          </td>
        </tr>
        <tr ng-show="sequences.length > 0">
          <td colspan="10">
            <ul class="pager">
              <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
              <li>Page {{ page }}</li>
              <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
