<div class="header">
  <ol class="breadcrumb">
    <li><a href="#/{{ apiPath }}/studies">Studies</a>
    </li>
  </ol>
</div>

<div class="table-responsive">
  <div class="alert alert-warning" role="alert"
  ng-show="anyProcessing"><strong>Note:</strong> One or more samples are still
  processing and are show in yellow.</div>
  <div class="alert alert-danger" role="alert" ng-show="anyInvalid"><strong>Note:</strong> One or
  more samples have no identifiable reads and are shown in red.</div>
  <div class="btn-group" >
    <a type="button" ng-click="viewSamples()"
      class="btn btn-primary btn-lg btn-pad"
      ng-disabled="checked_samples.length == 0">Compare</a>
    <a type="button" class="btn btn-lg btn-default"
      href="#/{{ apiPath }}/export/sample/{{ checked_samples.join(',') }}"
      ng-disabled="checked_samples.length == 0" target="_blank">Export Sequences</a>
  </div>
  <div style="float: right">
    <input type="text" class="form-control" placeholder="Search..." ng-model="sample_filter"></input>
  </div>
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Samples</th>
        </tr>
      </thead>
      <tbody ng-repeat="row in rows">
        <tr class="active">
          <td>{{ row.id }}</td>
          <td><a ng-click="show = !show">{{ row.name }} <span class="glyphicon glyphicon-chevron-down" id="study-arrow-{{ row.id }}"></span></a>
          </td>
          <td>{{ row.samples.length }}</td>
        </tr>
        <tr ng-show="show">
          <td colspan="3" style="float: none; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><input type="checkbox" ng-click="checkAll(row.id)"></input></th>
                  <th>#</th>
                  <th>Sample</th>
                  <th>Total Seqs.</th>
                  <th>Valid Seqs.</th>
                  <th>Invalid Seqs.</th>
                  <th>Functional %</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="sample in row.samples | filter:sample_filter">
                <tr ng-show="{{ sample.date != row.samples[$index - 1].date }}">
                  <td colspan="9" class="text-center info">
                    <strong>{{ sample.date }}</strong>
                  </td>
                </tr>
                <tr ng-class="rowClass(sample.status)">
                  <td>
                    <input type="checkbox" checklist-model="checked_samples"
                      checklist-value="sample.id" ng-disabled="sample.status != 'reads'"></input>
                  </td>
                  <td>{{ sample.id }}</td>
                  <td>{{ sample.name }}
                    <a ng-click="showDetails = !showDetails"><span class="glyphicon glyphicon-chevron-down"></a>
                    <a ng-show="sample.info" data-toggle="tooltip" title="{{ sample.info }}"><span class="glyphicon glyphicon-question-sign"></span></a></td>
                  <td>{{ sample.sequence_cnt + sample.no_result_cnt | number}}</td>
                  <td>{{ sample.sequence_cnt | number }}
                  <span class="faded">
                    ({{ 100 * sample.sequence_cnt / (sample.sequence_cnt + sample.no_result_cnt) | number:2 }}%)
                    </span></td>
                  <td>{{ sample.no_result_cnt | number }}</td>
                  <td>
                    <span ng-show="sample.status =='reads'">
                      {{ 100 * sample.functional_cnt / sample.sequence_cnt | number : 2}}
                    </span>
                    <span ng-show="sample.status != 'reads'">
                      N/A
                    </span>
                  </td>
                  <td><a href="#/{{ apiPath }}/samples/{{ sample.id }}"
                    ng-show="sample.status == 'reads'">View Sample<span class="glyphicon glyphicon-chevron-right"></span></a> </td>
                </tr>
                <tr ng-show="showDetails">
                  <td colspan="9">
                    <table class="table table-condensed table-bordered">
                      <thead>
                        <tr>
                          <th>Subject</th>
                          <th>Subset</th>
                          <th>Tissue</th>
                          <th>Disease</th>
                          <th>Lab</th>
                          <th>Experimenter</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#/{{ apiPath }}/subject/{{ sample.subject.id }}" target="_blank">{{
                            sample.subject.identifier }}</a></td>
                          <td>{{ sample.subset }}</td>
                          <td>{{ sample.tissue }}</td>
                          <td>{{ sample.disease }}</td>
                          <td>{{ sample.lab }}</td>
                          <td>{{ sample.experimenter }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
