<ol class="breadcrumb">
  <li><a href="#/studies">Studies</a>
  </li>
</ol>
<div class="table-responsive">
  <button ng-click="viewSamples()" class="btn btn-primary">Compare</button>
  <form novalidate>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Info</th>
          <th>Samples</th>
        </tr>
      </thead>
      <tbody ng-repeat="row in rows">
        <tr class="active">
          <td>{{ row.id }}</td>
          <td><a ng-click="show = !show">{{ row.name }} <span class="glyphicon glyphicon-chevron-down" id="study-arrow-{{ row.id }}"></span></a>
          </td>
          <td>{{ row.info }}</td>
          <td>{{ row.samples.length }}</td>
        </tr>
        <tr ng-show="show">
          <td colspan="4" style="float: none; margin: 0 auto;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>#</th>
                  <th>Sample</th>
                  <th>Total Seqs.</th>
                  <th>Valid Seqs.</th>
                  <th>Invalid Seqs.</th>
                  <th>Functional %</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-repeat="sample in row.samples">
                <tr ng-show="{{ sample.date != row.samples[$index - 1].date}}">
                  <td colspan="8" class="text-center info">
                    <strong>{{ sample.date }}</strong>
                  </td>
                </tr>
                <tr>
                  <td><input type="checkbox" checklist-model="checked_samples" checklist-value="sample.id"></input></td>
                  <td>{{ sample.id }}</td>
                  <td>{{ sample.name }}</td>
                  <td>{{ sample.valid_cnt + sample.no_result_cnt | number}}</td>
                  <td>{{ sample.valid_cnt | number }}</td>
                  <td>{{ sample.no_result_cnt | number }}</td>
                  <td>{{ 100 * sample.functional_cnt / sample.valid_cnt | number : 2}}</td>
                  <td><a href="#/samples/{{ sample.id }}">More<span class="glyphicon glyphicon-chevron-right"></span></a></td>
                </tr>
              </tbody>
            </table>
            </td>
        </tr>
      </tbody>
    </table>
    <button ng-click="viewSamples()" class="btn btn-primary">Compare</button>
  </form>
</div>
