<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Processing</h4>
      </div>
      <div class="modal-body">
        Loading data from database...
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Info</th>
        <th>Samples</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in rows">
        <td>{{ row.id }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.info }}</td>
        <td>{{ row.samples.length }}</td>
      </tr>
    </tbody>
  </table>
</div>
