<div class="header">
  <ol class="breadcrumb">
    <li><i class="fa fa-users fa-fw"></i> <a href="#/{{ apiPath }}/subjects">Subjects</a></li>
  </ol>
</div>
<div class="table-responsive">
  <form novalidate>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>#</th>
          <th>Study</th>
          <th>Identifier</th>
          <th>Unique Sequences</th>
          <th>Total Clones</th>
          <th>Samples</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="subject in objects" ng-class="subject.unique_seqs ? '' :
            'warning'">
          <td>{{ subject.id }}</td>
          <td>{{ subject.study.name }}</td>
          <td>{{ subject.identifier }}</td>
          <td>{{ subject.unique_seqs | number }}</td>
          <td>{{ subject.total_clones | number }}</td>
          <td>{{ subject.total_samples | number }}</td>
          <td><a href="#/{{ apiPath }}/subject/{{ subject.id }}">View <i class="fa fa-angle-right fa-lg"></i></td>
        </tr>
      </tbody>
      <tr>
        <td colspan="7">
          <ul class="pager">
            <li><a href="" ng-click="prevPage()" ng-show="pageable">Previous</a></li>
            <li>Page {{ page }}</li>
            <li><a href="" ng-click="nextPage()" ng-show="pageable">Next</a></li>
          </ul>
        </td>
      </tr>
    </table>
  </form>
</div>
