<div class="header">
  <ol class="breadcrumb">
    <li><a href="#/{{ apiPath }}/subjects"><i class="fa fa-users fa-fw"></i>Subjects</a></li>
    <li>{{ subject.identifier}} ({{ subject.study.name}})</li>
  </ol>
</div>
<div class='notifications top-right'></div>
<button type="button" class="btn btn-success pull-right"
    ng-click="addPin()">
  <i class="fa fa-thumb-tack fa-fw"></i> Pin Page
</button>

<h3>Subject Information</h3>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr class="active">
      <th colspan="6" class="text-center">General</th>
    </tr>
    <tr>
      <th>ID</th>
      <td>{{ subject.id }}</th>
      <th>Study</th>
      <td>{{ subject.study.name}} (ID {{ subject.study.id }})</td>
      <th>Study Identifier</th>
      <td>{{ subject.identifier }}</th>
    </tr>
    <tr>
      <th>Total Samples</th>
      <td>{{ subject.samples.length }}</th>
      <th colspan="4"></th>
    </tr>
  </table>

  <h3>Samples</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>#</th>
        <th>Sample</th>
        <th>Total Seqs.</th>
        <th>Valid Seqs.</th>
        <th>Invalid Seqs.</th>
        <th>Functional %</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="sample in subject.samples">
      <tr ng-show="{{ sample.date != subject.samples[$index - 1].date }}">
        <td colspan="9" class="text-center info">
          <strong>{{ sample.date }}</strong>
        </td>
      </tr>
      <tr ng-class="sample.valid_cnt > 0 ? '' : 'warning'">
        <td>
          <input type="checkbox" checklist-model="checked_samples" checklist-value="sample.id"></input>
        </td>
        <td>{{ sample.id }}</td>
        <td>{{ sample.name }} <a ng-show="sample.info" data-toggle="tooltip" title="{{ sample.info }}"><span class="glyphicon glyphicon-question-sign"></span></a></td>
        <td>{{ sample.valid_cnt + sample.no_result_cnt | number}}</td>
        <td>{{ sample.valid_cnt | number }}</td>
        <td>{{ sample.no_result_cnt | number }}</td>
        <td>{{ 100 * sample.functional_cnt / sample.valid_cnt | number : 2}}</td>
        <td><a href="#/{{ apiPath }}/samples/{{ sample.id }}">View Sample<span class="glyphicon glyphicon-chevron-right"></span></a> </td>
      </tr>
    </tbody>
  </table>
  <button ng-click="viewSamples()" class="btn btn-primary btn-lg btn-pad" ng-disabled="checked_samples.length == 0">Compare Selected</button>

  <h3>Clones</h3>
  <clone-pager filter="'clones_functional'" subject="subject_id"
    api-path="apiPath" samples="sample_ids"></clone-pager>
</div>
